.DS_Store
.env
*.pyc
*.pyo
env/
venv/
dist/
*.log
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.ipynb_checkpoints/
.vscode
__pycache__

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
